header>a {
    width: 100%;
    height: 80px;
    background-color: #D6BCBC;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 50%);
    padding-left: 10px;
}

header>a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--color-text);
}

#logo {
    max-width: 165px; /* Defina a largura máxima desejada */
    max-height: 200px; 
    margin-top: 35px;
}
